@import "~normalize.css";
@import "~@hediet/semantic-json-react/style";

//@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	padding: 0px;
	border: 0px;

	margin: 0;
	padding: 0;
}

body,
html,
.target,
.component-GUI {
	margin: 0;
	height: 100%;
	width: 100%;
}
